# ======================
# Node.js
# ======================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# React build
# ======================

frontend/build/

# ======================
# Python
# ======================

__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# ======================
# Virtual environments
# ======================

venv/
.env/
.env.local

# ======================
# Generated RAG files
# ======================

learner_profile.json
prompt.txt
response.txt

# Ignore if you don't want to upload generated embeddings
ml-service/embeddings.joblib

# ======================
# OS files
# ======================

.DS_Store
Thumbs.db

# ======================
# Logs
# ======================

logs/
*.log

# ======================
# Raw dataset
# ======================

dataset/audios/
dataset/videos/

# ======================
# Temporary files
# ======================

*.tmp
*.swp

# ======================
# VS Code
# ======================

.vscode/

# ======================
# Unused
# ======================

unused/